absl-py==0.11.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
datasets==1.2.1
dill==0.3.3
filelock==3.0.12
idna==2.10
joblib==1.0.0
multiprocess==0.70.11.1
nltk==3.5
numpy==1.19.5
packaging==20.8
pandas==1.2.1
pyarrow==2.0.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.5
regex==2020.11.13
requests==2.25.1
rouge-score==0.0.4
sacremoses==0.0.43
six==1.15.0
tokenizers==0.9.4
torch==1.7.1
tqdm==4.49.0
transformers==4.2.2
typing-extensions==3.7.4.3
urllib3==1.26.2
xxhash==2.0.0
